
\.idea/

Lesson6/__pycache__/

Lesson6/static_graph_tf_data/__pycache__/

Lesson6/static_graph_tf_queue/__pycache__/

keras/__pycache__/

estimator/__pycache__/

Lesson10/__pycache__/

Lesson7/__pycache__/

Lesson7/keras/__pycache__/

Lesson11/__pycache__/

Lesson12/__pycache__/
